*.unity filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
Assets/* filter=lfs diff=lfs merge=lfs -text
Assets/TerrainTexturesPackFree/TerrainTextures/* filter=lfs diff=lfs merge=lfs -text
